#headerCss {
    background: #1A3C86;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1A3C86, #3D61B7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1A3C86, #3D61B7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#footerCss {
    background: #1A3C86;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1A3C86, #3D61B7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1A3C86, #3D61B7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#ServiceWeProvide {
    background: #E1F9FF;
    font-family: 'Red Hat Display';
    font-style: normal;
}

.ServiceTitle {
    color: #1A3C86;
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.01em;
    font-family: 'Red Hat Display';
    font-style: normal;
}

#OurBookingHours {
    background-color: #1A3C86;
    background-image: url('image/bookingHours.png');
    background-blend-mode: overlay;
    opacity: 0.8;
    border-radius: 0px;
    font-family: 'Red Hat Display';
    font-style: normal;
}

.bookingHoursTitle {
    color: white;
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.01em;
    text-align: center;
    font-family: 'Red Hat Display';
    font-style: normal;
}

.bookingHoursText {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    font-family: 'Red Hat Display';
    font-style: normal;
}

.hoursTiming {
    background: #E1F9FF;
}

.video-section-hTag {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 70px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #1A3C86;
}

.video-section-paragraph {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #1A3C86;
    opacity: 0.85;
}


/* mytags */

.mytag1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0.01em;
    text-align: left;
    font-family: 'Red Hat Display';
    font-style: normal;
}

.mytag2 {
    color: #1A3C86;
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.01em;
    text-align: center;
    font-family: 'Red Hat Display';
    font-style: normal;
}

.mytag3 {
    color: #1A3C86;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: center;
    font-family: 'Red Hat Display';
    font-style: normal;
}


/* End mytags */


/* custom fancy button */

fancyButton {
    width: 250px;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-box {
    width: 250px;
    height: 150px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oneSpecial {
    background: #FF6285;
    color: white;
    transition: transform 300ms;
    font-family: 'Red Hat Display';
    font-style: normal;
}

.oneSpecial:hover {
    transform: scale(0.9);
}


/* end fancy button */


/* slider */

.slideshow-container {
    position: relative;
}

.mySlides {
    display: none;
    padding: 20px;
    text-align: center;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: #E1F9FF;
    color: white;
}

.dot-container {
    text-align: center;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* Add a background color to the active dot/circle */

.active,
.dot:hover {
    background-color: #717171;
}


/* Add an italic font style to all quotes */

q {
    font-style: italic;
    font-family: 'Red Hat Display';
    font-style: normal;
}


/* Add a blue color to the author */

.author {
    color: cornflowerblue;
    font-family: 'Red Hat Display';
    font-style: normal;
}


/* end slider */


/* card CSS */

.cardCss {
    color: #1A3C86;
    font-size: 23px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: left;
}

.cardNumbers {
    width: 70px;
    height: 70px;
    left: 1485.71px;
    top: 2005.67px;
    color: #1A3C86;
    font-size: 45px;
    background-color: #E1F9FF;
    border: 1px solid #E1F9FF;
    font-family: 'Red Hat Display';
    font-style: normal;
}

.card {
    margin-right: 20px!important;
}


/* end card CSS */

.telephoneText {
    height: 51.71397399902344px;
    width: 238.3132781982422px;
    left: 363px;
    top: 6473.947265625px;
    border: 1px solid #3963BE4D;
    background: rgba(245, 248, 255, 0.5);
    border: 1px solid rgba(57, 99, 190, 0.3);
    box-sizing: border-box;
    border-radius: 0px 25px 25px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}


/* custom telephone input */

.intl-tel-input {
    display: table-cell;
}

.intl-tel-input .selected-flag {
    z-index: 4;
}

.intl-tel-input .country-list {
    z-index: 5;
}

.input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
}

.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.allow-dropdown input[type=tel],
.intl-tel-input.separate-dial-code input,
.intl-tel-input.separate-dial-code input[type=text],
.intl-tel-input.separate-dial-code input[type=tel] {
    padding-left: 92px !important;
}


/* End telephone input */


/* media query */

@media (max-width:767px) {
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-width:768px) {
    .smiling-img {
        max-width: 480px;
        max-height: 480px;
    }
    .carousel-item {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-width:992px) {
    .carousel-item {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-width:1024px) {
    .carousel-item {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-width:1200px) {
    img {
        max-width: 480px;
        max-height: 480px;
    }
    .carousel-item {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-width:1440px) {
    .carousel-item {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-width:1600px) {
    img {
        max-width: 100%;
        max-height: 100%;
    }
    .carousel-item {
        max-width: 100%;
        max-height: 100%;
    }
}


/* end media query */