#headerCss {
    background: #1A3C86;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1A3C86, #3D61B7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1A3C86, #3D61B7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#footerCss {
    background: #1A3C86;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1A3C86, #3D61B7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1A3C86, #3D61B7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#ServiceWeProvide {
    background: #E1F9FF;
}


/* mytags */

.mytag1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0.01em;
    text-align: left;
}

.mytag2 {
    color: #1A3C86;
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.01em;
    text-align: center;
}

.mytag3 {
    color: #1A3C86;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: center;
}


/* End mytags */


/* custom fancy button */

fancyButton {
    width: 250px;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-box {
    width: 250px;
    height: 150px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oneSpecial {
    background: #FF6285;
    color: white;
    border-radius: 5px;
    transition: transform 300ms;
}

.oneSpecial:hover {
    transform: scale(0.9);
}


/* end fancy button */


/* slider */

.slideshow-container {
    position: relative;
}

.mySlides {
    display: none;
    padding: 20px;
    text-align: center;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.dot-container {
    text-align: center;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* Add a background color to the active dot/circle */

.active,
.dot:hover {
    background-color: #717171;
}


/* Add an italic font style to all quotes */

q {
    font-style: italic;
}


/* Add a blue color to the author */

.author {
    color: cornflowerblue;
}


/* end slider */


/* media query */

@media (max-width:767px) {
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-width:768px) {
    img {
        max-width: 480px;
        max-height: 480px;
    }
}


/* @media (min-width:992px) {
    img {
        max-width: 314px;
        max-height: 314px;
    }
} */

@media (min-width:1200px) {
    img {
        max-width: 480px;
        max-height: 480px;
    }
}

@media (min-width:1600px) {
    img {
        max-width: 100%;
        max-height: 100%;
    }
}


/* end media query */