#headerCss {
    background: #1A3C86;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1A3C86, #1A3C86);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1A3C86, #1A3C86);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#footerCss {
    background: #1A3C86;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1A3C86, #1A3C86);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1A3C86, #1A3C86);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-button-css {
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #1A3C86;
}

.home-button-css {
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.footerHtag1 {
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    font-weight: 700;
    font-size: 23px;
    line-height: 35px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.footerHtag2 {
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    font-weight: 700;
    font-size: 18px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.footerHtag3 {
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.7;
}

.footerParagraph {
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.footerIconShadow {
    text-shadow: 2px 2px #20202088;
}

.social-icons {
    color: #FFFFFF;
}

.footerNav {
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.01em;
}


/* override css bootstrap */

.accordion-button:not(.collapsed) {
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FF6285 !important;
    background-color: #FFFFFF !important;
}

.accordion-button.collapsed {
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #1A3C86 !important;
    background-color: #EFFAFF !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF !important;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #1A3C86 !important;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}


/* end override css bootstrap */

#ServiceWeProvide {
    background: #E1F9FF;
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
}

#headerCss2 {
    background: #E1F9FF;
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    letter-spacing: 0.01em;
}

.ServiceTitle {
    font-family: 'Red Hat Display'!important;
    font-style: normal!important;
    font-weight: 700;
    font-size: 55px;
    line-height: 75px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #1A3C86;
}

#OurBookingHours {
    background-color: #1A3C86;
    background-image: url('image/bookingHours.png');
    background-blend-mode: overlay;
    opacity: 0.8;
    border-radius: 0px;
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    margin-top: 0%;
}

#tourPlayCover {
    background: #E1F9FF;
    min-height: 420px;
    margin-top: 5%;
}

#tourPlaySection {
    background-color: #1A3C86;
    background-image: url('image/bookingHours.png');
    background-blend-mode: overlay;
    opacity: 0.8;
    border-radius: 0px;
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    margin-top: -7%;
}

.bookingHoursTitle {
    color: white;
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.01em;
    text-align: center;
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
}

.bookingHoursText {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
}

.hoursTiming {
    padding-left: 45px;
    background: #E1F9FF;
    text-align: center;
}

.video-section-hTag {
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    font-weight: 700;
    font-size: 55px;
    line-height: 70px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #1A3C86;
}

.video-section-paragraph {
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #1A3C86;
    opacity: 0.85;
}

.accordion-body {
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #1A3C86;
}


/* mytags */

.mytag1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0.01em;
    text-align: left;
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
}

.mytag2 {
    color: #1A3C86;
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.01em;
    text-align: center;
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
}

.mytag3 {
    color: #1A3C86;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: center;
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
}

.mytag4 {
    font-family: 'Red Hat Display'!important;
    font-style: normal!important;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #1A3C86;
    opacity: 0.7;
}

.read-more {
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FF6285;
}


/* End mytags */


/* custom fancy button */

fancyButton {
    width: 250px;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-box {
    width: 250px;
    height: 75px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF6285;
    padding: 10px;
    box-shadow: 10px 10px grey;
    box-sizing: border-box;
}

.oneSpecial {
    background: #FF6285;
    color: white;
    transition: transform 300ms;
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
}

.oneSpecial:hover {
    transform: scale(0.9);
}

#box-with-image {
    display: block;
    background-image: url('image/doctors.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#button-overlay {
    margin: 253px auto;
}


/* end fancy button */


/* slider */

.slideshow-container {
    position: relative;
}

.mySlides {
    display: none;
    padding: 20px;
    text-align: center;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background: #FF6285;
    color: #fff;
}

.prev:hover,
.next:hover {
    background: #1A3C86!important;
}


/* Position the "next button" to the right */

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: #E1F9FF;
    color: white;
}

.dot-container {
    text-align: center;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* Add a background color to the active dot/circle */

.active,
.dot:hover {
    background-color: #717171;
}


/* Add an italic font style to all quotes */

q {
    font-style: italic;
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
}


/* Add a blue color to the author */

.author {
    color: cornflowerblue;
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
}


/* end slider */


/* card CSS */

.card-img-top {
    max-width: 80px;
    max-height: 80px;
    margin-top: 90px;
    margin-left: 50px;
}

.card-img-overlay {
    background-color: #EDFBFF;
    max-width: 89.43px;
    max-height: 89.43px;
    /* margin-left: 220px !important; */
    float: right !important;
}

.cardCss {
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    color: #1A3C86;
    font-size: 23px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: left;
}

#cardCss2 {
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    max-width: 400px;
    box-shadow: 0px 15px 50px rgba(1, 82, 204, 0.12);
}

.card {
    margin-right: 20px!important;
}

.card-counter-div {
    width: 58px;
    height: 58px;
    background: #EDFBFF;
    border-radius: 0px;
    color: #000;
    display: flex;
    flex: 1 1 auto;
}

.card-counter {
    font-family: 'Red Hat Display'!important;
    font-style: normal!important;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.01em;
    color: #1A3C86;
}

.card-counter:hover,
.cardCss:hover {
    color: #FF6285;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}


/* end card CSS */

.telephoneText {
    height: 51.71397399902344px;
    width: 238.3132781982422px;
    left: 363px;
    top: 6473.947265625px;
    border: 1px solid #3963BE4D;
    background: rgba(245, 248, 255, 0.5);
    border: 1px solid rgba(57, 99, 190, 0.3);
    box-sizing: border-box;
    border-radius: 0px 25px 25px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}


/* custom telephone input */

.intl-tel-input {
    display: table-cell;
}

.intl-tel-input .selected-flag {
    z-index: 4;
}

.intl-tel-input .country-list {
    z-index: 5;
}

.input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
}

.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.allow-dropdown input[type=tel],
.intl-tel-input.separate-dial-code input,
.intl-tel-input.separate-dial-code input[type=text],
.intl-tel-input.separate-dial-code input[type=tel] {
    padding-left: 62px !important;
}


/* End telephone input */

.side-img1-css {
    margin-top: 205px !important;
}

.side-img2-css {
    margin-top: 115px !important;
}

.icon-clock {
    color: #FF6285;
    margin-right: 10px;
}

#fancy-carousal-slide {
    background-image: url('image/smile1.png');
    background-blend-mode: overlay;
    max-width: 1205px;
    max-height: 564px;
}

.counter {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 70px !important;
    text-align: center;
    letter-spacing: 0.01em;
    color: #1A3C86;
}

.dots-form {
    background-image: url(image/Make-an-appointment-dots.png);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    box-shadow: 0px 15px 50px rgba(1, 82, 204, 0.12);
}

#getGoogleText {
    background: #E1F9FF;
    margin-left: -92px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#getGoogleImg {
    background-image: url(image/demo-google-map.png)!important;
    background-blend-mode: overlay;
}

.dot-map-fixer {
    margin-left: 460px;
    margin-top: -82px;
}

.project-count-border {
    border: 1px solid rgba(57, 99, 190, 0.3);
}

.service-list {
    background: #E1F9FF !important;
    box-shadow: 0px 15px 50px rgba(1, 82, 204, 0.12);
}

.service-list:hover {
    background: #FFFFFF !important;
    box-shadow: 0px 15px 50px rgba(1, 82, 204, 0.12);
}

.service-list-title {
    font-family: 'Red Hat Display'!important;
    font-style: normal!important;
    font-weight: 700;
    font-size: 23px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #1A3C86;
}

.service-list-text {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #1A3C86;
    opacity: 0.8;
    max-width: 615px;
}

.service-list-link {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #1A3C86;
}

.service-list-link>a {
    text-decoration: none !important
}


/* media query */

@media (max-width:767px) {
    img {
        max-width: 100%;
        max-height: 100%;
    }
    .side-img1 {
        max-width: 110px;
        max-height: 110px;
    }
    .side-img2 {
        max-width: 110px;
        max-height: 110px;
    }
    .card-horizontal {
        display: block;
    }
    .service-list-link {
        margin-left: 18px;
    }
    .mytag1 {
        max-width: 359px;
        font-size: 30px;
        line-height: 50px;
        text-align: center;
    }
    .footerParagraph {
        max-width: 350px;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
    }
    .video-section-paragraph {
        max-width: 350px;
        font-size: 13px;
        line-height: 28px;
    }
    .video-section-hTag {
        max-width: 265px;
        font-size: 30px;
        line-height: 35px;
    }
    .about-us-title-image {
        display: none;
    }
    .btn-nav-submit {
        display: none !important;
    }
    .ServiceTitle {
        font-size: 30px;
        line-height: 40px;
    }
    .service-list-link {
        display: none;
    }
    .img-square-wrapper {
        max-width: 49px;
        max-height: 49px;
        margin-left: 10px;
    }
    #button-box-center {
        margin-left: 45px;
    }
    .side-img1-css,
    .side-img2-css {
        display: none;
    }
    .mytag2 {
        font-size: 30px;
        line-height: 45px;
    }
    .mytag3 {
        font-size: 13px;
        line-height: 28px;
    }
    #box-with-image {
        max-width: 427px;
        max-height: 268px;
    }
    #button-overlay {
        max-width: 202px;
        margin: 100px auto;
        padding: 10px 16px;
    }
}

@media (min-width:768px) {
    .smiling-img {
        max-width: 480px;
        max-height: 480px;
    }
    .carousel-item {
        max-width: 100%;
        max-height: 100%;
    }
    .side-img1 {
        max-width: 100px;
        max-height: 100px;
    }
    .side-img2 {
        max-width: 100px;
        max-height: 100px;
    }
    .hoursTiming {
        max-width: 600px;
        margin-left: 80px;
        margin-top: -20px;
    }
    #OurBookingHours {
        margin-top: -50px;
    }
    .about-us-title-image {
        display: none;
    }
}

@media (min-width:820px) {
    .carousel-item {
        max-width: 100%;
        max-height: 100%;
    }
    .hoursTiming {
        max-width: 650px;
        margin-left: 90px;
        margin-top: -20px;
    }
    #OurBookingHours {
        margin-top: -50px;
    }
    .about-us-title-image {
        display: none;
    }
}

@media (min-width:992px) {
    .carousel-item {
        max-width: 100%;
        max-height: 100%;
    }
    .hoursTiming {
        max-width: 800px;
        margin-left: 80px;
        margin-top: -20px;
    }
    #OurBookingHours {
        margin-top: -50px;
    }
    .about-us-title-image {
        display: none;
    }
}

@media (min-width:1024px) {
    .carousel-item {
        max-width: 100%;
        max-height: 100%;
    }
    .side-img1 {
        max-width: 100px;
        max-height: 100px;
    }
    .side-img2 {
        max-width: 100px;
        max-height: 100px;
    }
    .hoursTiming {
        max-width: 850px;
        margin-left: 85px;
        margin-top: -20px;
    }
    #OurBookingHours {
        margin-top: -50px;
    }
}

@media (min-width:1200px) {
    img {
        max-width: 480px;
        max-height: 480px;
    }
    .carousel-item {
        max-width: 100%;
        max-height: 100%;
    }
    .side-img1 {
        max-width: 100px;
        max-height: 100px;
    }
    .side-img2 {
        max-width: 100px;
        max-height: 100px;
    }
    .hoursTiming {
        max-width: 1230px;
        margin-left: 100px;
    }
    .hoursTiming {
        max-width: 1050px;
        margin-left: 75px;
        margin-top: -20px;
    }
    #OurBookingHours {
        margin-top: -50px;
    }
}

@media (min-width:1280px) {
    img {
        max-width: 480px;
        max-height: 480px;
    }
    .carousel-item {
        max-width: 100%;
        max-height: 100%;
    }
    .side-img1 {
        max-width: 100px;
        max-height: 100px;
    }
    .side-img2 {
        max-width: 100px;
        max-height: 100px;
    }
    .hoursTiming {
        max-width: 1230px;
        margin-left: 100px;
    }
    .hoursTiming {
        max-width: 1050px;
        margin-left: 115px;
        margin-top: -20px;
    }
    #OurBookingHours {
        margin-top: -50px;
    }
}

@media (min-width:1440px) {
    .carousel-item {
        max-width: 100%;
        max-height: 100%;
    }
    .side-img1 {
        max-width: 100px;
        max-height: 100px;
    }
    .side-img2 {
        max-width: 100px;
        max-height: 100px;
    }
    .hoursTiming {
        max-width: 1230px;
        margin-left: 100px;
        margin-top: -20px;
    }
    #OurBookingHours {
        margin-top: -50px;
    }
}

@media (min-width:1600px) {
    img {
        max-width: 100%;
        max-height: 100%;
    }
    .carousel-item {
        max-width: 100%;
        max-height: 100%;
    }
    .side-img1 {
        max-width: 100px;
        max-height: 100px;
    }
    .side-img2 {
        max-width: 100px;
        max-height: 100px;
    }
    .hoursTiming {
        max-width: 1220px;
        margin-left: 445px;
        margin-top: -20px;
    }
    #OurBookingHours {
        margin-top: -50px;
    }
}

@media (min-width:2560px) {
    img {
        max-width: 100%;
        max-height: 100%;
    }
    .carousel-item {
        max-width: 100%;
        max-height: 100%;
    }
    .side-img1 {
        max-width: 140px;
        max-height: 140px;
    }
    .side-img2 {
        max-width: 140px;
        max-height: 140px;
    }
    .hoursTiming {
        max-width: 1230px;
        margin-left: 670px;
        margin-top: -20px;
    }
    #OurBookingHours {
        margin-top: -50px;
    }
}

@media screen and (max-width: 900px) and (max-height: 720px) {
    #box-with-image {
        max-width: 900px;
        max-height: 720px;
    }
}

@media screen and (max-width: 800px) and (max-height: 640px) {
    #box-with-image {
        max-width: 800px;
        max-height: 640px;
    }
}

@media screen and (max-width: 700px) and (max-height: 560px) {
    #box-with-image {
        max-width: 700px;
        max-height: 560px;
    }
}

@media screen and (max-width: 600px) and (max-height: 480px) {
    #box-with-image {
        max-width: 480px;
        max-height: 480px;
    }
}

@media screen and (max-width: 500px) and (max-height: 400px) {
    #box-with-image {
        max-width: 480px;
        max-height: 400px;
    }
}

@media screen and (max-width: 400px) and (max-height: 320px) {
    #box-with-image {
        max-width: 400px;
        max-height: 320px;
    }
}


/* end media query */